<p class="title"><%= @post.title %></p>
<p class="body"><%= @post.body %></p>
<p><%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Do you really want to delete this post?" } %></p>
