// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0 2 0 2;
  padding: 0 2 0 2;
}

body {
  font-family: Calisto MT;
  text-align: center;
}

nav {
  background: #755;
  margin-bottom: 2em;
  text-align: left;
  
  a {
    display: inline-block;
    padding: .5em .5em;
    color: #fff;
    text-decoration: none;
   }
   
   h1, h3 {
     margin: 2em 0;
   }
   
   p {
     padding: .5em 0;
   }
}