<h1>EDS CHALLENGE ONE WEB APP</h1>
<h3>Challenge One About Page</h3>
<p>The premise of this challenge is to create a web app based on the ruby static app and styled app objectives without any instruction or assistance.</p>