<h1>STYLED APP ABOUT PAGE</h1>
<p>This is the about template of the styled app ruby tutorial</p>

<h3>WHO AM I?</h3>
<p>The tutorial has who am I as an example with a few questions to show the differences in styles</p>