<h1>STYLED APP HOME PAGE</h1>
<p> Welcome Home</p>
<p> This is the tutorial on learning how to style app pages in Ruby using html and ruby code </p>
<p> In creatintg this page, the hope is to learn how to add some style to the templates and continuity to the app layout</p>

